h2 {
  text-align: center;
  border: 2px solid black;
  font-size: 3em;
  border-top: green 3px solid;
}
h3 {
  text-align: center;
  border: 2px solid black;
  font-size: 3em;
  border-top: green 3px solid;
}
